.btn{
    min-width: 180px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: normal;
    border-radius: 7px;
    padding: 12px 10px;
    text-align: left;
    &-w100{
        width: 100%;
    }
    &-reset{
        background: transparent;
        border: 0;
        outline: 0;
        &:focus{
            outline: 0;
        }
    }
    @media (min-width: 768px) {
        min-width: 380px;
        padding: 20px 20px;
        font-size: 20px;
        font-weight: 400;
        border-radius: 7px;
    }
}