.logo{
    width: 100px;
    a{
        color: var(--font-color);
    }
    img{
        max-width: 100%;
        width: 100%;
        height: auto;   
    }
}

header{
    padding: 30px 0;
}

#navbarNav{    
    .navbar-nav{
        margin-left: auto;
        .nav-item {
            padding: 0 20px;
            .nav-link{
                padding: 0;
                color: var(--font-color);
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: normal;
                border-bottom: 3px solid transparent;
                display: inline-block;
                &:hover{
                    border-bottom: 3px solid var(--font-color);
                }
            }
            &.active{
                .nav-link{
                    border-bottom: 3px solid var(--font-color);
                }
            }
            &:last-child{
                padding-right: 0;
            }
            @media (max-width: 767px) {
                margin-bottom: 8px;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    @media (min-width: 768px) {
        width: calc(100% - 100px);
        text-align: right;
    }
}

.navbar-toggler{
    padding: 0;
    outline: 0;
    i{
        color: var(--font-color);
    }
    &:focus{
        outline: 0;
    }
}