.logo{
    width: 200px;
    a{
        // color: var(--font-color);
        color: #fff;
        vertical-align: middle;
    }
    img{
        max-width: 100%;
        width: 100%;
        height: auto;   
    }
    .normal-logo{
        display: block;
    }
    .sticky-logo{
        display: none;
    }
    @media (max-width: 991px) {
        width: 100px;
    }
}

header{
    padding: 80px 65px;
    position: absolute;
    z-index: 10;
    width: 100%;
    transition: all .3s ease-in-out;
    &.sticky{
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        padding-top: 40px;
        padding-bottom: 40px;
        .logo{
            .normal-logo{
                display: none;
            }
            .sticky-logo{
                display: block;
            }
        }
        .hamburger-menu{
            > div {
                background-color: #000;
            }
        }
    }
    @media (max-width: 991px) {
        padding: 45px 0;
    }
}

#navbarNav{    
    .navbar-nav{
        margin-left: auto;
        .nav-item {
            padding: 0 20px;
            .nav-link{
                padding: 0;
                color: var(--font-color);
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: normal;
                border-bottom: 3px solid transparent;
                display: inline-block;
                &:hover{
                    border-bottom: 3px solid var(--font-color);
                }
            }
            &.active{
                .nav-link{
                    border-bottom: 3px solid var(--font-color);
                }
            }
            &:last-child{
                padding-right: 0;
            }
            @media (max-width: 767px) {
                margin-bottom: 8px;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    @media (min-width: 768px) {
        width: calc(100% - 100px);
        text-align: right;
    }
}

.navbar-toggler{
    padding: 0;
    outline: 0;
    i{
        color: var(--font-color);
    }
    &:focus{
        outline: 0;
    }
}

.hamburger-menu{
    display: inline-block;
    cursor: pointer;
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 4px;
    }
    .bar1{
        margin-top: 0;
        width: 47px;
        height: 7px;
        margin-left: auto;
        @media (max-width: 768px) {
            width: 30px;
            height: 4px;
        }
    }
    .bar2{
        width: 25px;
        height: 4px;
        margin-left: auto; 
        @media (max-width: 768px) {
            width: 14px;
            height: 2px;
        }
    }
    .bar3{
        margin-bottom: 0;
        width: 35px;
        height: 6px;
        margin-left: auto;
        @media (max-width: 768px) {
            width: 22px;
            height: 4px;
        }
    }
    &.change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-8px, 6px);
        transform: rotate(-45deg) translate(-8px, 6px);
        width: 47px;
    }
    &.change .bar2 {
        opacity: 0;
    }
    &.change .bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -8px);
        transform: rotate(45deg) translate(-9px, -8px);
        width: 47px;
    }
}

.navbar{
    @media (min-width: 768px) {
        justify-content: space-between;
    }
}

.site-menu{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background:#000;
    z-index: 11;
    backface-visibility: hidden;
    overflow: auto;
    transform: translateY(-100%);
    transition-property: transform;
    transition-duration: .4s;
    padding: 120px 85px;
    ul.navbar-nav {
        li{
            a{
                color: #838383;
                font-size: 25px;
                border-bottom: 3px solid transparent;
                padding: 0;
                padding-bottom: 10px;
                margin-bottom: 10px;
                &:hover{
                    color: #fff;
                    border-bottom: 3px solid #fff;
                }
            }
            &.active{
                .nav-link{
                    color: #fff;
                    border-bottom: 3px solid #fff;
                }
            }
        }
    }
    &.visible{
        transform: translateY(0);
    }
    @media (max-width: 768px) {
        padding: 130px 25px;
    }
}

.menu-close-btn{
    color: #fff;
    position: absolute;
    top: 73px;
    right: 90px;
    padding: 0;
    @media (max-width: 768px) {
        top: 55px;
        right: 25px;
    }
}

// .sticky ~ #content {
//     padding-top: 202px;
//     @media (max-width: 991px) {
//         padding-top: 114px;
//     }
// }