.section-wrapper{
    margin-bottom: 50px;
}
hr.separator{
    margin-top: 13px;
    margin-bottom: 23px;
    border-top: 2px solid $input-border;
}

hr.line-separator{
    border-top: 1px solid var(--font-color);
    margin-top: 36px;
    margin-bottom: 36px;
}


.analysis-title{
    h1{
        @media (max-width: 1024px) {
            font-size: 30px;
        }
    } 
    @media (max-width: 991px) {
        margin-bottom: 15px;
    }
}
.analysis-list{
    ul{
        list-style: none;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        li{
            font-size: 42px;
            font-weight: 900;
            color: var(--font-color);
            display: inline-block;
            position: relative;
            padding-left: 15px;
            span{
                font-size: 22px;
                font-weight: 400;
                @media (max-width: 992px) {
                    font-size: 16px;
                }
            }
            &:before{
                content: "";
                width: 4px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: var(--yellow);
            }
            @media (max-width: 1024px) {
                font-size: 28px;
            }
            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
        }
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
    }
}

.datacard{
    border-radius: 17px;
    background-color: var(--card-bg);
    margin-bottom: 40px;
    &-header{
        background-color: var(--card-header-bg);
        padding: 19px 25px;
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
        position: relative;
        padding-right: 45px;
        .card-title-arrow{
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &-content{
        padding: 35px 25px;
    }
    &-footer{
        padding: 20px 25px;
        position: relative;
        a{
            color: var(--card-more);
            text-decoration: none;
            font-size: 18px;
            font-weight: 300px;
        }
        &::before{
            position: absolute;
            content: "";
            top: -1px;
            height: 1px;
            width: calc(100% - 50px);
            left: 25px;
            right: 0;
            background: var(--font-color);;
        }
    }
}

.message{
    ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li{
           padding-bottom: 9px;
           border-bottom: 1px solid var(--font-color);
           margin-bottom: 15px;
            &.hightlighted{
                position: relative;
                &:before{
                    position: absolute;
                    content: "";
                    left: -19px;
                    top: 4px;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background: #95aca4;
                }
            }
            &:last-child{
                border-bottom: 0;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }        
    }
    &-title{
        margin-bottom: 10px;
        color: var(--font-color);
    }
    &-text{
        p{
            font-size: 18px;
            font-weight: 300;
            letter-spacing: normal;
            color: var(--font-color);
            margin-bottom: 0;
        }
    }
}

.card-section{
    padding: 35px 0;
    border-bottom: 1px solid var(--card-section-border);
    .card-section-header{
        margin-bottom: 25px;
        h3{
            font-size: 24px;
        }
        h5{
            font-size: 16px;
        }
    }
    &:last-child{
        border-bottom: 0;
    }
}

.data-card{
    border-radius: 7px;
    box-shadow: 0 2px 9px 0 rgba(193, 193, 193, 0.5);
    background-color: var(--select-bg-color);
    padding: 40px 0;
    &-inner{
        border-left: 6px solid #f4a24c;
        padding-left: 15px; 
    }
    h1{
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 5px;
        color: var(--card-text-color);
    }
    h4{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 0;
        color: var(--card-text-color);
    }
    &-inner{
        position: relative;
    }
    @media (max-width: 767px) {
        margin-bottom: 15px;
    }
}
.seperator{
    width: 400px;
    @media (max-width: 767px){
        width: 60%;
    }
}
.why-toppeq{
    background: url('../images/why-toppeq.png') no-repeat;
    background-position-x: right;
    .heading{
        padding-top: 100px;
        .sub-text{
            width: 500px;
            height: 56vh;
            @media (max-width: 991px){
                height: 70vh;
                width: 320px;
            }
            @media (max-width: 767px){
                height: 90vh;
                width: 227px;
            }
            @media (max-width: 574px){
                height: 36vh;
                width: 100%;
            }
        }
        @media (max-width: 767px){
            padding: 20px 0;
        }
    }
    .text-block{
        box-shadow: 0 2px 50px 0 rgba(235, 235, 235, 0.5);
        margin-bottom: 1rem;
        background: white;
    }
    @media (min-width: 1024px){
        background-size: 400px;
    }
    @media (max-width: 574px){
        background: none;

    }
}
.form{
    background-color: $gray-100;
    h2{
        @media(max-width: 767px){
            font-size: 25px;
        }
    }
    h4{
        color: $light-grey-1;
         @media(max-width: 767px){
            font-size: 15px;
        }
    }
    .form-block{
        .form-control{
            border-bottom: 1px solid $gray-500;
            border-radius: 0;
            height: 58px;
            margin: 15px 0;
            max-width: 100%;
            @media (max-width: 767px){
                margin: 30px 0;
            }
        }
        .submit{
            background-color: $orange-3;
            color: white;
            border-radius: 0;
            font-size: 20px;
            padding: 10px 20px;
            margin: 15px 0;
            min-width: 200px;
        }
    }
    @media (max-width: 767px){
        padding: 30px;
    }
}