.section-wrapper{
    margin-bottom: 50px;
}
hr.separator{
    margin-top: 13px;
    margin-bottom: 23px;
    border-top: 2px solid $input-border;
}

hr.line-separator{
    border-top: 1px solid var(--font-color);
    margin-top: 36px;
    margin-bottom: 36px;
}


.analysis-title{
    h1{
        @media (max-width: 1024px) {
            font-size: 30px;
        }
    } 
    @media (max-width: 991px) {
        margin-bottom: 15px;
    }
}
.analysis-list{
    ul{
        list-style: none;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        li{
            font-size: 42px;
            font-weight: 900;
            color: var(--font-color);
            display: inline-block;
            position: relative;
            padding-left: 15px;
            span{
                font-size: 22px;
                font-weight: 400;
                @media (max-width: 992px) {
                    font-size: 16px;
                }
            }
            &:before{
                content: "";
                width: 4px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: var(--yellow);
            }
            @media (max-width: 1024px) {
                font-size: 28px;
            }
            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
        }
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
    }
}

.datacard{
    border-radius: 17px;
    background-color: var(--card-bg);
    margin-bottom: 40px;
    &-header{
        background-color: var(--card-header-bg);
        padding: 19px 25px;
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
        position: relative;
        padding-right: 45px;
        .card-title-arrow{
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &-content{
        padding: 35px 25px;
    }
    &-footer{
        padding: 20px 25px;
        position: relative;
        a{
            color: var(--card-more);
            text-decoration: none;
            font-size: 18px;
            font-weight: 300px;
        }
        &::before{
            position: absolute;
            content: "";
            top: -1px;
            height: 1px;
            width: calc(100% - 50px);
            left: 25px;
            right: 0;
            background: var(--font-color);;
        }
    }
}

.message{
    ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li{
           padding-bottom: 9px;
           border-bottom: 1px solid var(--font-color);
           margin-bottom: 15px;
            &.hightlighted{
                position: relative;
                &:before{
                    position: absolute;
                    content: "";
                    left: -19px;
                    top: 4px;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background: #95aca4;
                }
            }
            &:last-child{
                border-bottom: 0;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }        
    }
    &-title{
        margin-bottom: 10px;
        color: var(--font-color);
    }
    &-text{
        p{
            font-size: 18px;
            font-weight: 300;
            letter-spacing: normal;
            color: var(--font-color);
            margin-bottom: 0;
        }
    }
}

.card-section{
    padding: 35px 0;
    border-bottom: 1px solid var(--card-section-border);
    .card-section-header{
        margin-bottom: 25px;
        h3{
            font-size: 24px;
        }
        h5{
            font-size: 16px;
        }
    }
    &:last-child{
        border-bottom: 0;
    }
}

.data-card{
    border-radius: 7px;
    box-shadow: 0 2px 9px 0 rgba(193, 193, 193, 0.5);
    background-color: var(--select-bg-color);
    padding: 40px 0;
    &-inner{
        border-left: 6px solid #f4a24c;
        padding-left: 15px; 
    }
    h1{
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 5px;
        color: var(--card-text-color);
    }
    h4{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 0;
        color: var(--card-text-color);
    }
    &-inner{
        position: relative;
    }
    @media (max-width: 767px) {
        margin-bottom: 15px;
    }
}
.seperator{
    width: 400px;
    @media (max-width: 767px){
        width: 60%;
    }
}
@keyframes fadeInTop {
    from {
        opacity:0;
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(-20px);
        transform: translatey(-20px);
    }
}
@keyframes fadeInRight {
    from {
        opacity:0;
        -webkit-transform: translatex(0px);
        transform: translatex(0px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(-20px);
        transform: translatex(-20px);
    }
}
@keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-30px);
        transform: translatex(-30px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fadeInBottom {
    from {
        opacity:0;
        -webkit-transform: translatey(30px);
        transform: translatey(30px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        transform: translatey(0);
    }
}
@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.hidden , .hidden_block , .hidden_right {
  opacity: 0;
}

.in-left {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.in-right {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.in-top {
    -webkit-animation-name: fadeInTop;
    animation-name: fadeInTop;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.in-bottom {
    -webkit-animation-name: fadeInBottom;
    animation-name: fadeInBottom;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.in{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.why-toppeq{
    background: url('../images/why-toppeq.png') no-repeat;
    background-position-x: right;
    .heading{
        padding-top: 100px;
        .sub-text{
            width: 500px;
            height: 56vh;
            @media (max-width: 991px){
                height: 70vh;
                width: 320px;
            }
            @media (max-width: 767px){
                height: 90vh;
                width: 227px;
            }
            @media (max-width: 574px){
                height: auto;
                width: 100%;
            }
        }
        @media (max-width: 767px){
            padding: 20px 0;
        }
    }
    .text-block{
        box-shadow: 0 2px 50px 0 rgba(235, 235, 235, 0.5);
        margin-bottom: 1rem;
        background: white;
    }
    @media (min-width: 1024px){
        background-size: 400px;
    }
    @media (max-width: 574px){
        background: none;

    }
}
.form{
    background-color: $gray-100;
    h2{
        @media(max-width: 767px){
            font-size: 25px;
        }
    }
    h4{
        color: $light-grey-1;
         @media(max-width: 767px){
            font-size: 15px;
        }
    }
    .form-block{
        .form-control{
            border-bottom: 1px solid $gray-500;
            border-radius: 0;
            height: 58px;
            margin: 15px 0;
            max-width: 100%;
            @media (max-width: 767px){
                margin: 30px 0;
            }
        }
        .submit{
            background-color: $orange-3;
            color: white;
            border-radius: 0;
            font-size: 20px;
            padding: 10px 20px;
            margin: 15px 0;
            min-width: 200px;
            transition: all 0.3s ease-in;
            &:hover{
                border: 1px solid $orange-3 ;
                background-color: transparent;
                color: $orange-3;
            }
        }
    }
    @media (max-width: 767px){
        padding: 30px;
    }
}

.homeSlider{   
    position: relative;
    margin-top: 80px;
    margin-bottom: 180px;
    .block{
        position: absolute;
        top: 36%;  
        left: 0;
        h2{
            text-align: left;
            margin-left: 70px;
            font-size: 32px;
            @media (max-width: 991px){
                margin-left: 0;
                font-size: 24px;
            }
            @media (max-width: 767px){
                margin: 0 0;
                font-size: 18px;
            }
        }
        .btn{
            border-radius: 0px 30px 30px 0px;
            border: 1px solid black;
            border-left: 0;
            padding: 15px 30px 15px 88px;
            font-size: 16px;
            .circle{
                border: 1px solid $dark;
                border-radius: 30px;
                padding: 4px 7px 0px;
                margin-left: 15px;
            }
            @media (max-width: 991px){
                margin: 10px 0 40px;
                padding: 10px 20px;
                font-size: 14px;
            } 
            @media (max-width: 767px){
                margin: 10px 0 20px;
                font-size: 12px;
            } 
        }
        @media (max-width: 991px){
            top: 25%;
        }
        @media (max-width: 767px){
          position: unset;
        }      
    }

    .slick{
        position: relative;
            &-dots{
                bottom: -70px;
                right: 25%;
                text-align: right;
            li{
                margin: 0 0.5rem;
                &.slick-active{
                    button{
                        background-color: black;
                    }
                }
            }
            button{
                border: 2px solid black;
                border: none;
                background-color: $gray-600;
                text-indent: -9999px;
            }
            @media (max-width: 767px){
                text-align: center;
            }
        }
        &-arrow{
            position: absolute;
            bottom: -75px;
            background: transparent;
            border: 4px solid black;
            border-radius: 30px;
            padding: 2px 14px;
            z-index: 1;
            &:focus{
                outline: 0;
            }
        }
        &-next{
            right: 4%;
            @media(max-width: 767px){
                right: 8%;
            }
        }
        &-prev{
            right: 12%;
            @media(max-width: 767px){
                right: 30%;
            }
        }
        &-slide{
            align-items: normal !important;
            justify-content: flex-start;
            height: auto !important;
            img{
                float: right;
                max-width: 100% !important;
                height: 100vh;
                &:after{
                    content: '';
                    display: block;
                    clear: both;
                }
                @media (min-width: 1024px){
                    height: 60vh;
                }
                @media (max-width: 575px){
                    height: 40vh;
                }
                &.first{
                    @media (max-width: 767px){
                        float: none;
                        margin: auto;
                    }
                }
            }
        }
    }
    @media (max-width: 767px){
        margin-top: 50px;
        margin-bottom: 150px;
    }
}
.block{
    &-1{
        padding-left: 0;
    }
    &-2{
        padding-right: 0;
    }
}