.mainSlider {
  .item {
    width: 100%;
    position: relative;
    background-image: linear-gradient(125deg, #330d3f -27%, #000000);
    padding: 25px;
    picture{
      display: block;
      position: relative;
      bottom: 75px;
    }
    img{
      margin: auto;
      max-width: 100%;
      @media (min-width: 1201px) and (max-width: 1600px) {
        max-height: 450px;
      }
      @media (min-width: 1201px) and (max-width: 1350px) {
        max-height: 300px;
      }
      
    }
    &-text{
      max-width: 617px;
      position: absolute;
      left: 78px;
      bottom: 40%;
      h1{
        font-size: 65px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 70px;
        @media (max-width: 1600px) {
          margin-bottom: 45px;
          font-size: 45px;
        }
        @media (min-width: 1201px) and (max-width: 1350px) {
          font-size: 35px;
          margin-bottom: 35px;
        }
        @media (max-width: 767px) {
          font-size: 20px;
          margin-bottom: 25px;
        }
      }
      a{
        display: inline-block;
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        padding: 20px 70px;
        border: 1px solid #fff;
        text-decoration: none;
        transition: all .3s ease-in-out;
        outline: 0;
        &:hover{
          background: #fff;
          color: #000;
        }
        @media (max-width: 1600px) {
          font-size: 18px;
          padding: 15px 50px;
        }
        @media (min-width: 1201px) and (max-width: 1350px) {
          font-size: 16px;
          padding: 10px 50px;
        }
        @media (max-width: 767px) {
          font-size: 10px;
          padding: 7px 30px;
        }
      }
      @media (max-width: 1600px) {
        max-width: 450px;
        bottom: 45%;
      }
      @media (min-width: 1201px) and (max-width: 1350px) {
        bottom: 40%;
      }
      @media only screen 
      and (min-device-width : 320px) 
      and (max-device-width : 991px) 
      and (orientation : landscape) { 
        display: none;
      }
      @media (max-width: 768px) {
        left: 15px;
      }
      @media (max-width: 767px) {
        bottom: 65%;
      }
    }
    &-count{
      position: absolute;
      right: 75px;
      color: #fff;
      bottom: 10px;
      display: flex;
      align-items: center;
      hr{
        border-top: 2px solid #fff;
        width: 140px;
        @media (max-width: 767px) {
          width: 45px;
        }
       }
      h1{
        font-size: 74px;
        margin: 0;
        color: #fff;
        margin-left: 50px;
        @media (min-width: 1201px) and (max-width: 1350px) {
          font-size: 35px;
        }
        @media (max-width: 768px) {
          font-size: 60px;
        }
        @media (max-width: 767px) {
          font-size: 24px;
          margin-left: 10px;
        }
      }
      @media (min-width: 1201px) and (max-width: 1350px) {
        bottom: 25px;
      }
      @media (max-width: 768px) {
        right: 15px;
        bottom: 14px;
      }
      @media (max-width: 767px) {
        bottom: 34px;
      }
    }
    &.a{
      img{
        @media (max-width: 380px) and ( max-height: 699px ) {
          max-height: 300px;
        }
      }
      .item-text{
        @media (max-width: 767px) {
          bottom: 65%;
        }
        @media (width: 320px) and ( height: 568px ) {
          bottom: 58%;
        }
        @media (width: 375px) and ( height: 667px ) {
          bottom: 46%;
        }
      }
    }
    &.a{
      .item-text{
        h1{
          @media (min-width: 1200px) {
            text-align: right;
          }
        }
      }
    }
  }  
}

#content{
  .slick-initialized .slick-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}

.slick-dots {
  position: absolute;
  bottom: 30px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  
  li {
    list-style: none;
    width: 18px;
    height: 18px;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &.slick-active{
      border-radius: 50%;
      border: 1px solid white;
    }
    @media (max-width: 767px) {
      width: 11px;
      height: 11px;
    }
  }
  button {
    border-radius: 50%;
    padding: 0;
    border: 2px solid black;
    width: 12px;
    height: 12px;
    border: none;
    background-color: #fff;
    text-indent: -9999px;
    outline: 0;
    &:hover {
      // background-color: #000;
    }
    @media (max-width: 767px) {
      width: 7px;
      height: 7px;
    }
  }
}
.slick-slide {
    height: 100vh !important;
}

.pageSlider{
  .item{
    .thumb{
      position: relative;
      z-index: 1;
      img{
        max-width: 100%;
        height: auto;
        width: 100%;
        object-fit: cover;
      }
    }
    .overlay{
      a{
        bottom: 0;
        display: flex;
        left: 0;
        width: 100%;
        padding: 15px 30px;
        position: absolute;
        z-index: 1;
        align-items: center;
        transition: all 0.4s ease;
        border-top: 2px solid $orange-1;
        h4{
          color: white;
          font-weight: 600;
        }
        &:after{
          background: black none repeat scroll 0 0;
          bottom: 0;
          content: "";
          height: 100%;
          left: 0;
          opacity: 0.7;
          position: absolute;
          width: 100%;
          z-index: -1;
        }
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  .slick{
    position: relative;
    &-dots{
      bottom: -45px;
      li{
        margin: 0 0.5rem;
      }
      button{
        border: 2px solid black;
        border: none;
        background-color: $gray-600;
        text-indent: -9999px;
      }
    }
    &-active{
      button{
        background-color: black;
      }
    }
    &-arrow{
      position: absolute;
      top: 45%;
      background: white;
      border-radius: 30px;
      box-shadow: 0px 0px 1px 1px $light-grey;
      border: 1px solid $gray-200;
      padding: 9px 18px;
      z-index: 1;
      &:focus{
        outline: 0;
      }

    }

    &-prev{
      right: auto;
      left: -15px;
    }
    &-next{
      left: auto;
      right: -15px;
    }
    &-slide{
      height: auto !important;
      margin-right: 15px;
      margin-left: 15px;
    }
  }
}
