.mainSlider {
  
  .item {
    width: 100%;
    position: relative;
    background-image: linear-gradient(125deg, #330d3f -27%, #000000);

    img{
      margin: auto;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  
}

.slick-dots {
  position: absolute;
  bottom: 30px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  
  li {
    list-style: none;
    width: 18px;
    height: 18px;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &.slick-active{
      border-radius: 50%;
      border: 1px solid white;
    }
  }
  button {
    border-radius: 50%;
    padding: 0;
    border: 2px solid black;
    width: 12px;
    height: 12px;
    border: none;
    background-color: #fff;
    text-indent: -9999px;
    outline: 0;
    &:hover {
      // background-color: #000;
    }
  }
}
.slick-slide {
    height: 100vh !important;
}