{{ define "main" }}
 
 <div class="mainSlider">
   <div class="item a">
   	<picture>
   	  <source media="(orientation: landscape)" srcset="{{"images/Section1Slider1.png" | relURL }}">
   	  <source media="(orientation: portrait)" srcset="{{"images/Section1Slider1Mobile.png" | relURL }}">
   		<img src="{{"images/Section1Slider1.png" | relURL }}">
   	</picture>
   </div>
   <div class="item b">
     <picture>
   	  <source media="(orientation: landscape)" srcset="{{"images/Section1Slider2.png" | relURL }}">
   	  <source media="(orientation: portrait)" srcset="{{"images/Section1Slider2Mobile.png" | relURL }}">
   		<img src="{{"images/Section1Slider2.png" | relURL }}">
   	</picture>
 	</div>
 </div>

<div class="container">
	<h2 class="text-center my-3 font-weight-bold"> Our Services </h2>
	<div class="pageSlider w-980 my-4">
		<div class="item">
	        <div class="thumb">
	        	<picture>
		   	  		<source media="(orientation: landscape)" srcset="{{"images/slider-img.png" | relURL }}">
	   	  			<source media="(orientation: portrait)" srcset="{{"images/slider-img.png" | relURL }}">
			   		<img src="{{"images/slider-img.png" | relURL }}">
			   	</picture>
	            <div class="overlay">
	                <a href="#">
	                    <i class="flaticon-graph"></i>
	                    <h4 class="f-18">Our Services</h4>
	                </a>
	            </div>
	        </div>
        </div>
        <div class="item">
	        <div class="thumb">
	        	<picture>
		   	  		<source media="(orientation: landscape)" srcset="{{"images/slider-img.png" | relURL }}">
	   	  			<source media="(orientation: portrait)" srcset="{{"images/slider-img.png" | relURL }}">
			   		<img src="{{"images/slider-img.png" | relURL }}">
			   	</picture>
	            <div class="overlay">
	                <a href="#">
	                    <i class="flaticon-graph"></i>
	                    <h4 class="f-18">Our Services</h4>
	                </a>
	            </div>
	        </div>
        </div>
        <div class="item">
	        <div class="thumb">
	        	<picture>
		   	  		<source media="(orientation: landscape)" srcset="{{"images/slider-img.png" | relURL }}">
	   	  			<source media="(orientation: portrait)" srcset="{{"images/slider-img.png" | relURL }}">
			   		<img src="{{"images/slider-img.png" | relURL }}">
			   	</picture>
	            <div class="overlay">
	                <a href="#">
	                    <i class="flaticon-graph"></i>
	                    <h4 class="f-18">Our Services</h4>
	                </a>
	            </div>
	        </div>
        </div>
        <div class="item">
	        <div class="thumb">
	        	<picture>
		   	  		<source media="(orientation: landscape)" srcset="{{"images/slider-img.png" | relURL }}">
	   	  			<source media="(orientation: portrait)" srcset="{{"images/slider-img.png" | relURL }}">
			   		<img src="{{"images/slider-img.png" | relURL }}">
			   	</picture>
	            <div class="overlay">
	                <a href="#">
	                    <i class="flaticon-graph"></i>
	                    <h4 class="f-18">Our Services</h4>
	                </a>
	            </div>
	        </div>
        </div>
	</div>
</div>

<section class="why-toppeq mt-4">
	<div class="container">
		<div class="content w-980">
			<div class="heading">
				<h2 class="item-heading py-2 font-weight-bold"> Why TOPPEQ</h2>
				<p class="sub-text f-22"> Toppeq helps investors and startups keep track of their money. Our machine learning algorithms and decision support systems provide investors with both the big picture and the nitty gritty , and enable startups to find  out what they are spending their money on and what it is doing for them.</p>
			</div>
			<div class="row justify-content-left">
				<div class="col-md-5 col-sm-12 text-block mr-2">
					<h3 class="item-heading py-2 font-weight-bold"> For Investors </h3>
					<p class=""> Toppeq's platform helps venture capitalists, private equity firms, and angel investors go granular on both their investment portfolio and use our dynamically generated sector-specific metrics to glean rapidly actionable insights</p>
				</div>
				<div class="col-md-5 col-sm-12 text-block">
					<h3 class="item-heading py-2 font-weight-bold"> For Startups </h3>
					<p class=""> We use pattern recognition to dissect thousands of shareholder agreements and employ big data to red flag contractual trapdoors and ensure parity between all parties.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-block">
					<h3 class="item-heading py-2 font-weight-bold"> For Law and Accounting Firms </h3>
					<p class=""> The constantly and consistently updated data at our disposal- from shareholder agreements to cap tables -enables law and accounting firms to deliver the right and promt advice to their clients</p>
				</div>
			</div>
		</div>
	</div>
</section>


{{ end }}