{{ define "main" }}
 
 <div class="mainSlider">
   <div class="item a">
   	<picture>
   	  <source media="(orientation: landscape)" srcset="{{"images/Section1Slider1.png" | relURL }}">
   	  <source media="(orientation: portrait)" srcset="{{"images/Section1Slider1Mobile.png" | relURL }}">
   		<img src="{{"images/Section1Slider1.png" | relURL }}">
   	</picture>
   </div>
   <div class="item b">
     <picture>
   	  <source media="(orientation: landscape)" srcset="{{"images/Section1Slider2.png" | relURL }}">
   	  <source media="(orientation: portrait)" srcset="{{"images/Section1Slider2Mobile.png" | relURL }}">
   		<img src="{{"images/Section1Slider2.png" | relURL }}">
   	</picture>
 	</div>
 </div>

 more content here

{{ end }}