{{ define "main" }}

<div class="mainSlider">
	<div class="item a">
		<picture class="in">
			<source media="(orientation: landscape)" srcset="{{"images/Sider_1.png" | relURL }}">
			<source media="(orientation: portrait)" srcset="{{"images/MobileSlider1.png" | relURL }}">
		<img src="{{"images/Sider_1.png" | relURL }}">
		</picture>
		<div class="item-text in-left">
			<h1 class="">BRINGING CLARITY <br>TO EQUITY.</h1>
			<a href="#why-toppeq-section">Learn More</a>
		</div>
		<div class="item-count in-bottom">
			<hr></hr>
			<h1 class="slide-count">01</h1>
		</div>
	</div>
	<div class="item b">
		<picture class="in">
			<source media="(orientation: landscape)" srcset="{{"images/Slider_2.png" | relURL }}">
			<source media="(orientation: portrait)" srcset="{{"images/MobileSlider2.png" | relURL }}">
			<img src="{{"images/Slider_2.png" | relURL }}">
		</picture>
		<div class="item-text in-left">
			<h1>SMARTLY TRACK <br >YOUR MONEY.</h1>
			<a href="#why-toppeq-section">Learn More</a>
		</div>
		<div class="item-count in-bottom">
			<hr></hr>
			<h1 class="slide-count">02</h1>
		</div>
	</div>
</div>

<section class="why-toppeq mt-5 mb-3" id="why-toppeq-section">
	<div class="container">
		<div class="content w-980">
			<div class="heading">
				<h2 class="item-heading py-2 font-weight-bold hidden_block"> Why TOPPEQ</h2>
				<p class="sub-text f-22 hidden"> Toppeq helps investors and startups keep track of their money. Our machine learning algorithms and decision support systems provide investors with both the big picture and the nitty gritty , and enable startups to find  out what they are spending their money on and what it is doing for them.</p>
			</div>
			<div class="row justify-content-left">
				<div class="col-md-5 col-sm-12 text-block hidden mr-2">
					<h3 class="item-heading py-2 font-weight-bold"> For Investors </h3>
					<p class=""> Toppeq's platform helps venture capitalists, private equity firms, and angel investors go granular on both their investment portfolio and use our dynamically generated sector-specific metrics to glean rapidly actionable insights</p>
				</div>
				<div class="col-md-5 col-sm-12 text-block hidden">
					<h3 class="item-heading py-2 font-weight-bold"> For Startups </h3>
					<p class=""> We use pattern recognition to dissect thousands of shareholder agreements and employ big data to red flag contractual trapdoors and ensure parity between all parties.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10 col-12 text-block hidden pr-2">
					<h3 class="item-heading py-2 font-weight-bold"> For Law and Accounting Firms </h3>
					<p class=""> The constantly and consistently updated data at our disposal- from shareholder agreements to cap tables -enables law and accounting firms to deliver the right and promt advice to their clients</p>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="homeSlider">
	<div class="slider-element">
		<div class="row mx-0">
			<div class="col-lg-6 col-md-6 col-sm-12 position-relative pl-sm-0">
				<div class="block w-980 hidden">
	  				<h2 class="item-heading text-uppercase px-2 py-2 font-weight-bold"> Our Services</h2>
  				</div>	
			</div>	
			<div class="col-lg-6 col-md-6 col-sm-12">
  			   	<picture>
			   	  	<source media="(orientation: landscape)" srcset="{{"images/slider-img.png" | relURL }}">
			   	  	<source media="(orientation: portrait)" srcset="{{"images/slider-img.png" | relURL }}">
			   		<img src="{{"images/slider-img.png" | relURL }}" class="first hidden_right img-block">
			   	</picture>
			</div>
		</div>
	</div>
	<div class="slider-element">
		<div class="row mx-0">
			<div class="col-lg-6 col-md-6 col-sm-12 position-relative pl-sm-0 block-1">
				<div class="block w-980 in-left">
	  				<h2 class="item-heading text-uppercase px-2 py-2 font-weight-bold"> Organized Cap Table <br> Management</h2>
	  				<button class="btn btn-outline action-btn"> Learn how we organize your Cap Table <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span></button>
  				</div>	
			</div>	
			<div class="col-lg-6 col-md-6 col-sm-12 block-2 in-right">
  			   	<picture>
			   	  	<source media="(orientation: landscape)" srcset="{{"images/OSS1.png" | relURL }}">
			   	  	<source media="(orientation: portrait)" srcset="{{"images/OSS1-mob.png" | relURL }}">
			   		<img src="{{"images/OSS1.png" | relURL }}" class="img-block">
			   	</picture>
			</div>
		</div>
	</div>
	<div class="slider-element">
		<div class="row mx-0">
			<div class="col-lg-6 col-md-6 col-sm-12 position-relative block-1">
				<div class="block w-980 in-left">
	  				<h2 class="item-heading text-uppercase px-2 py-2 font-weight-bold"> Due Diligence And <br>Valuations </h2>
	  				<button class="btn btn-outline"> Learn how we organize Due Diligence <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span></button>
  				</div>	
			</div>	
			<div class="col-lg-6 col-md-6 col-sm-12 block-2">
  			   	<picture>
			   	  	<source media="(orientation: landscape)" srcset="{{"images/OSS1.png" | relURL }}">
			   	  	<source media="(orientation: portrait)" srcset="{{"images/OSS1-mob.png" | relURL }}">
			   		<img src="{{"images/OSS1.png" | relURL }}" class="img-block">
			   	</picture>
			</div>
		</div>
	</div>
	<div class="slider-element">
		<div class="row mx-0">
			<div class="col-lg-6 col-md-6 col-sm-12 position-relative block-1">
				<div class="block w-980 in-left">
	  				<h2 class="item-heading text-uppercase px-2 py-2 font-weight-bold"> Working Capital <br>Management </h2>
	  				<button class="btn btn-outline"> Learn more about Capital Management <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span></button>
  				</div>	
			</div>	
			<div class="col-lg-6 col-md-6 col-sm-12 block-2">
  			   	<picture>
			   	  	<source media="(orientation: landscape)" srcset="{{"images/OSS1.png" | relURL }}">
			   	  	<source media="(orientation: portrait)" srcset="{{"images/OSS1-mob.png" | relURL }}">
			   		<img src="{{"images/OSS1.png" | relURL }}" class="img-block">
			   	</picture>
			</div>
		</div>
	</div>
	<div class="slider-element">
		<div class="row mx-0">
			<div class="col-lg-6 col-md-6 col-sm-12 position-relative block-1">
				<div class="block w-980 in-left">
	  				<h2 class="item-heading text-uppercase px-2 py-2 font-weight-bold"> Legal And <br>Secretarial Services </h2>
	  				<button class="btn btn-outline"> Learn more about legal and secretarial services <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span></button>
  				</div>	
			</div>	
			<div class="col-lg-6 col-md-6 col-sm-12 block-2">
  			   	<picture>
			   	  	<source media="(orientation: landscape)" srcset="{{"images/OSS1.png" | relURL }}">
			   	  	<source media="(orientation: portrait)" srcset="{{"images/OSS1-mob.png" | relURL }}">
			   		<img src="{{"images/OSS1.png" | relURL }}" class="img-block">
			   	</picture>
			</div>
		</div>
	</div>
</div>


<section class="container w-980">
	<div class="form my-6 hidden_block">
		<div class="row">
			<div class="col-md-6 p-md-4 form-block">
				<h2 class="py-md-2 py-1 mb-0 font-weight-bold"> What about the Pricing? </h2>
				<h4 class="pb-md-2 pb-1 font-weight-300"> Fill out the form and we will get back to you. </h4>
			</div>
			<div class="col-md-6 p-md-3 form-block">
				<div class="form-field mb-0">
					<input class="form-control" type="text" placeholder="Are you an Individual, Enterprise or a Startup?">
					<input class="form-control" type="email" placeholder="Your e-mail address?">
					<button class="btn btn-default submit">Let’s get in touch</button>
				</div>
			</div>
		</div>
	</div>
</section>

{{ end }}