{{ define "main" }}

<div class="container-fluid">
	<div class="section-wrapper">
		<h2 class="section-title-1">Typography</h2>
		<hr class="line-separator"></hr>
		<div class="row">
			<div class="col-md-6">				
				<h1 class="section-main-title mb-0">Morgan Stanley</h1>
				<h2 class="font-weight-bolder">Company Security List Edit</h2>
				<h5 class="card-title">Current Round</h5>		
				<h5 class="card-title-light">25.09% - Common Shares</h5>
				<label class="label-normal d-block mb-0">Label normal</label>
				<a href="#">Link text</a>
			</div>
			<div class="col-md-6">
				<h1>Heading h1</h1>
				<h2>Heading h2</h2>
				<h3>Heading h3</h3>
				<h4>Heading h4</h3>
				<h5>Heading h5</h5>
				<h6>Heading h6</h6>
			</div>
		</div>
	</div>

	<div class="section-wrapper">
		<h2 class="section-title-1">Buttons</h2>
		<hr class="line-separator"></hr>
		<button class="btn btn-primary">Save Changes</button>
		<p></p>
		<button class="btn btn-outline-primary">Cancel</button>
	</div>

	<div class="section-wrapper">
		<h2 class="section-title-1">Form elements</h2>
		<hr class="line-separator"></hr>

		<div class="form-field">
			<label class="form-label">
				<span class="form-label-content">Input Label</span>
			</label>
			<input class="form-control" type="text" placeholder="Text field">                          
		</div>

		<div class="form-field">
			<label class="form-label d-block">
				<span class="form-label-content">Select field</span>
			</label>
			<select class="select select-normal" title="">
				<option value="India">India</option>
				<option value="USA">USA</option>
				<option value="England">England</option>
				<option value="Belgium">Belgium</option>			
			</select>
		</div>	

		<div class="form-field">
			<label class="form-label d-block">
				<span class="form-label-content">Radio input</span>
			</label>
			<div class="custom-radio-input">
				<label class="radio-input">
					Option one
					<input type="radio" checked="checked" name="radio">
					<span class="checkmark"></span>
				</label>
			</div>
			<div class="custom-radio-input">
				<label class="radio-input">
					Option Two
					<input type="radio" name="radio">
					<span class="checkmark"></span>
				</label>
			</div>
		</div>

		<div class="form-field">
			<label class="form-label d-block">
				<span class="form-label-content">Textarea</span>				
			</label>
			<textarea rows="4" class="form-control"></textarea>
		</div>

		<div class="form-field">
			<label class="form-label d-block">
				<span class="form-label-content">Toggle switch</span>
			</label>
			<label class="switch">
				<input type="checkbox" id="checkbox">
				<span class="slider round slider-default">
					USD
				</span>
			</label>
		</div>
		
	</div>
	<div class="section-wrapper">
		<div class="analysis-wrap">
			<div class="row">
				<div class="col-lg-3">
					<div class="analysis-title">
						<h1 class="section-main-title mb-0">Morgan Stanley</h1>						
					</div>
				</div>
				<div class="col-lg-9">
					<div class="analysis-list">
						<ul>
							<li>500,000 <span>shares</span></li>
							<li>$12,000,458 <span>raised</span></li> 
							<li>$500,000 <span>share holders</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<hr class="line-separator"></hr>
	</div>

	<div class="section-wrapper">
		<div class="row">
			<div class="col-md-6">
				<div class="datacard">
					<div class="datacard-header">
						<h5 class="card-title m-0">Total Shareholders</h5>
						<i class="card-title-arrow fa fa-chevron-right" aria-hidden="true"></i>
					</div>
					<div class="datacard-content">
						Lorem ipsum dolor sit amet
					</div>
					<div class="datacard-footer">
						<a href="#">Show more...</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="datacard">
					<div class="datacard-header">
						<h5 class="card-title m-0">Current Round</h5>
						<i class="card-title-arrow fa fa-chevron-right" aria-hidden="true"></i>
					</div>
					<div class="datacard-content">
						Lorem ipsum dolor sit amet
					</div>
					<div class="datacard-footer">
						<a href="#">Show more...</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="datacard">
					<div class="datacard-header">
						<h5 class="card-title m-0">Funding history</h5>
						<i class="card-title-arrow fa fa-chevron-right" aria-hidden="true"></i>
					</div>
					<div class="datacard-content">
						Lorem ipsum dolor sit amet
					</div>
					<div class="datacard-footer">
						<a href="#">Show more...</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="datacard">
					<div class="datacard-header">
						<h5 class="card-title m-0">Messages</h5>
						<i class="card-title-arrow fa fa-chevron-right" aria-hidden="true"></i>
					</div>
					<div class="datacard-content">
						<div class="message">
							<ul class="list-style-none pl-0">
								<li class="hightlighted">
									<h5 class="card-title message-title">Kaartik | Legal Services</h5>
									<div class="message-text">
										<p>A quick brown fox jumps over a lazy dog. This is a test message to check whether everything is working fine.</p>
									</div>
								</li>
								<li>
									<h5 class="card-title message-title">Kaartik | Legal Services</h5>
									<div class="message-text">
										<p>A quick brown fox jumps over a lazy dog. This is a test message to check whether everything is working fine.</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="datacard-footer">
						<a href="#">Show more...</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	

	<div class="section-wrapper">
		<div class="card-section">
			<div class="card-section-header d-flex align-items-center justify-content-between">
				<h3 class="font-weight-bolder m-0">Type of Shares</h3>
				<h5 class="card-title-light m-0">Show me Detailed View</h5>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-3">
					<div class="data-card">
						<div class="data-card-inner">
							<h1>12,000</h1>
							<h4>Common shares</h4>
							<span class="i-right"></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="data-card">
						<div class="data-card-inner">
							<h1>400</h1>
							<h4>Preferred Shares</h4>
							<span class="i-right"></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="data-card">
						<div class="data-card-inner">
							<h1>982</h1>
							<h4>Options</h4>
							<span class="i-right"></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="data-card">
						<div class="data-card-inner">
							<h1>640</h1>
							<h4>Others</h4>
							<span class="i-right"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-section">
			<div class="card-section-header d-flex align-items-center justify-content-between">
				<h3 class="font-weight-bolder m-0">Investors</h3>
				<h5 class="card-title-light m-0">Show me Detailed View</h5>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-3">
					<div class="data-card">
						<div class="data-card-inner">
							<h1>12,000</h1>
							<h4>Common shares</h4>
							<span class="i-right"></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="data-card">
						<div class="data-card-inner">
							<h1>400</h1>
							<h4>Preferred Shares</h4>
							<span class="i-right"></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="data-card">
						<div class="data-card-inner">
							<h1>982</h1>
							<h4>Options</h4>
							<span class="i-right"></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="data-card">
						<div class="data-card-inner">
							<h1>640</h1>
							<h4>Others</h4>
							<span class="i-right"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section-wrapper">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th><div class="">Shareholder Name</div></th>
						<th><div class="">Number of Shares</div></th>
						<th><div class="">Date of Purchase</div></th>
						<th><div class="">Initial Cost per Share</div></th>
						<th><div class="">Current Value per Share</div></th>
						<th><div class="">Percentage Increase</div></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Nandini Sankar</td>
						<td>1,400</td>
						<td>01/09/14</td>
						<td>$0.09</td>
						<td>$1.5</td>
						<td>6%</td>
					</tr>
					<tr>
						<td>Chander Navani</td>
						<td>1,200</td>
						<td>22/09/14</td>
						<td>$0.09</td>
						<td>$1.5</td>
						<td>6%</td>
					</tr>
					<tr>
						<td>Ajay Khadke</td>
						<td>1,200</td>
						<td>22/09/14</td>
						<td>$0.09</td>
						<td>$1.5</td>
						<td>6%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="section-wrapper">
		<div class="row">
			<div class="col-md-6">

			</div>
			<div class="col-md-6">
				<ul class="list-style-none pl-0">
					<li class="d-flex align-items-center justify-content-between mb-1">
						<span class="label-normal">Day Mode/Night Mode</span>
						<label class="switch theme-switch">
							<input type="checkbox" id="checkbox">
							<span class="slider round"></span>
						</label>
					</li>
					<li class="d-flex align-items-center justify-content-between">
						<span class="label-normal">Switch Currency</span>
						<label class="switch">
							<input type="checkbox" id="checkbox">
							<span class="slider round slider-default">USD</span>
						</label>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
</div>

{{ end }}