<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-light p-0">
            <div class="logo">
                <a href="#" class="d-inline-block text-decoration-none">
                    <h2 class="m-0">TOPPEQ</h2>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            
        </nav>
    </div>
</header>
