<header>
    <div class="container-fluid">
        <d/div class="navbar navbar-expand-md navbar-light bg-light p-0">
            <div class="logo">
                <a href="#" class="d-inline-block text-decoration-none">
                    <h2 class="m-0">TOPPEQ</h2>
                </a>
            </div>
            <div class="hamburger-menu">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>         
        </nav>
    </div>
</header>
<nav>
    <div class="site-menu">
        <ul class="navbar-nav mt-3 mt-md-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Security</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Funding</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
        <button class="btn-reset menu-close-btn f-35">X</button>
    </div>
</nav>
