<head>
	<title>{{ $.Params.title }} - Toppeq</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <link type="image/x-icon" href="{{ "img/favicon.ico" | relURL}}" rel="shortcut icon">
    {{ if .Site.IsServer }}
        {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
        <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
    {{ else }}
        {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
        <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
    {{ end }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{"vendor/select2/select2.min.css" | relURL}}">
    <link rel="stylesheet" href="{{"vendor/tagsinput/bootstrap-tagsinput.css" | relURL}}">
</head>